body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 80%;
}
.masque {
    width: 100%;
    display: inline-block;
    height: 100%;
    border: solid 1px black;
    background-color: silver;
    min-height: 100%;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 5px;
}
/*.masque:active {
    display: none;
}*/
.card {
    width: 25%;
    display: inline-block;;
    height: 100px;
    float: left;
    position: relative;
    border: solid 1px black;
    border-radius: 5px;
}
/*.card:active {
    border: solid 1px blue;
    background-color: gold;
    text-align: center;
    font-weight: bold;
}*/
.valeur {
    width: 100%;
    display: inline-block;;
    height: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    top:0;
    left: 0;
    position: absolute;
}
